

h1 {
    font-family: 'Londrina Shadow', cursive;
    font-weight: 700;
    font-size: 100px;
    text-align: center;

}

h2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 50px;
    /*background-color: #1d91f7;*/
}
h3 {
    font-family: 'Londrina Shadow', cursive;
    font-size: 50px;
        text-align: center;

    /*background-color: #1d91f7;*/
}

@media(min-width:768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3{
    font-size: 25px;
  }
  p {
    font-size: 20px;
  }

}

/* medium+ */

@media(min-width:992px) {
    h1 {
        font-size: 160px;
    }
    h2 {
        font-size: 60px;
    }
    p {
    font-size: 20px;
  }
}

/* large+ */

@media(min-width:1200px) {
    h1 {
        font-size: 220px;
    }
    h2 {
        font-size: 80px;
    }
    p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
    p {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
    }
}

.jumbotron {
    background-color: white;
    color: lightblue;
    font-family: 'Raleway', sans-serif;
    width: 100%;
        background-image: url(hot-air-balloon-header.jpg);

}

body {
    /*background-color: #1241FF;*/
    font-family: 'ABeeZee', sans-serif;
    background: rgba(179,220,237,1);
background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
}

#home p {
    text-align: center;
    font-family: Handlee;
    font-size: 18px;
}
.navbar-brand {
    font-family: Lobster;
    font-size: 40px;
    padding-bottom: 50px;
}

.nav {
    font-family: Bitter;
}
.contact {
    background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('skyhab.jpg'); 
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding:10px;
    height: 160px;
}
.contact p {
    font-size: 14px;
    text-align: center;
    color: white;
}
#time, #weather, #flight, #participation {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
 
.carousel-inner .item img {
  height: 500px;
}
.carousel-caption {
  color: white;
  top: 30%;
}
#title {
  opacity: 1;
  animation: fadeIn 6s;
  color: white;
  text-shadow: 3px 3px 4px black;
  font-weight: bold;
  font-family: 'Rubik Mono One', sans-serif;
}
h1 {
  font-size: 40px;
}
.carousel-inner .item img {
  height: 900px;
}

.carousel-caption {
  color: white;
  top: 32%;
  
}
.well {
  background: linear-gradient(to bottom right, rgba(255, 204, 255,0.1), rgba(179, 217, 255,0.75), transparent), url("https://s-media-cache-ak0.pinimg.com/originals/9c/ca/ec/9ccaeca7ac5037f294e6fe6fdddc0f95.jpg") no-repeat center; 
  background-size: cover;
}
#etext {
  color: beige;
  text-shadow: 3px 3px 4px lightblue;
}