body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #5bb2ff;
}

h1 {
    font-family: 'Londrina Shadow', cursive;
    font-weight: 700;
    font-size: 100px;
    /*//background-color: #1d91f7;*/
    /*background-color: #1d91f7;*/
}

h2 {
    font-family: 'Londrina Shadow', cursive;
    font-size: 50px;
    /*background-color: #1d91f7;*/
}
h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 25px;
}
@media(min-width:768px){
      h1 {
        font-size: 80px;
      }
      h2 {
        font-size: 40px;
      }
    }
    @media(min-width:992px){
    h1{
      font-size: 160px;
    }
    h2 {
        font-size: 60px;
      }
  }
  /* large+ */
  @media(min-width:1200px){
    h1{
      font-size: 220px;
    }
    h2 {
        font-size: 80px;
      }
  }