

h1 {
    font-family: 'Londrina Shadow', cursive;
    font-weight: 700;
    font-size: 100px;
    text-align: center;

}

h2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 50px;
    /*background-color: #1d91f7;*/
}
h3 {
    font-family: 'Londrina Shadow', cursive;
    font-size: 50px;
        text-align: center;
        color:white;

}


.jumbotron {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 150, 0), rgba(250, 250, 250, .5)), url(img/balloon-5.jpg) no-repeat top fixed;

}

body {
    font-family: 'ABeeZee', sans-serif;
    background: rgba(179,220,237,1);
background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
}

#home p {
    text-align: center;
    font-family: Handlee;
    font-size: 18px;
}
.navbar-brand {
    font-family: Lobster;
    font-size: 40px;
    padding-bottom: 50px;
}

.nav {
    font-family: Bitter;
}
.contact {
    background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('skyhab.jpg'); 
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding:10px;
    height: 180px;
}
.contact p {
    font-size: 14px;
    text-align: center;
    color: white;
}
#time, #weather, #flight, #participation {
    
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.75)), url(img/balloon-2.jpg) no-repeat center fixed;
    background-size: cover;
}
 


#title {
  opacity: 1;
  animation: fadeIn 6s;
  color: white;
  text-shadow: 3px 3px 4px black;
  font-weight: bold;
  font-family: 'Rubik Mono One', sans-serif;
}
h1 {
  font-size: 40px;
}

.well {
  background: linear-gradient(to bottom right, rgba(255, 204, 255,0.1), rgba(179, 217, 255,0.75), transparent), url("https://media.giphy.com/media/eX7ro6DdalMBO/giphy.gif") no-repeat center; 
  background-size: cover;
}
#etext {
  color: #0077be;
  text-shadow: 3px 3px 4px lightblue;
}
#itext{
height: 160px;
  font-size: 15px;
  color: white;
font-family: 'Arsenal', sans-serif;


}
 @media only screen and (min-width : 480px) {
#itext{
height:100px;
font-family: 'Arsenal', sans-serif;

}
p {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
    }
}
p {
  text-align: center;
}
@keyframes txtcolor {
    0% {
        color: #ffccd9;
    }
     25% {
        color: #ffe6cc;
    }
     50% {
        color: #99ffbb;
    }
     75%{
        color: #99ffff;
     }
    100% {
        color: #d9b3ff;
    }
}
.navbar {
    background: transparent;
    float: center;
    margin: 0 auto;
    font-size: x-large;
    font-weight: bold;
    border-color: transparent;
}

/* small*/

@media(min-width:768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  p {
    font-size: 20px;
  }
  #itext {
    height: 100px;
    font-size: 15px;
  }
   #landing h1 {
        font-size: 40px;
    }

}


/* medium+ */

@media(min-width:992px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 35px;
  }
  p {
    font-size: 30px;
  }
  #itext {
    height: 270px;
    font-size: 13px;
  }
   #landing h1 {
        font-size: 90px;
    }
}


/* large+ */

@media(min-width:1200px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 60px;
  }
  h3 {
    font-size: 50px;
  }
  p {
    font-size: 40px;
  }
  #itext {
    height: 345px;
    font-size: 22px;
  }
   #landing h1 {
        font-size: 110px;
    }
}
#landing {
    width: 100%;
    height: 100%;
    padding: 50px, 0;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, .5)), url('img/balloon-1.jpg') no-repeat top;
    background-size: cover;
}

#landing h1 {
    font-size: 100px;
    font-family: 'Monoton', cursive;
    animation-name: txtcolor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    float:center;
}
#landtext {
    padding: 30px;
}
#iduction{
  color: white;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}
